FIRST DOWNLOAD MYTIMEOUT Node-red-bornay-eManager-13-12-2020 v3.txt
[{"id":"be65dc0.e4b9f28","type":"function","z":"f7a13449.b0f388","name":"Decodificacio corrent fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["8ec318f2.5b2178","90f647ff.0b4f48","69b824df.1a2c7c","cd32ca64.eb3288"]]},{"id":"acecddef.09583","type":"modbus-read","z":"f7a13449.b0f388","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"72","dataType":"InputRegister","adr":"4","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"95210230.7d0b6","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":160,"wires":[["3701c520.df2bea"],["be65dc0.e4b9f28","c13654b5.f4cca8"]]},{"id":"3701c520.df2bea","type":"modbus-response","z":"f7a13449.b0f388","name":"","registerShowMax":20,"x":430,"y":120,"wires":[]},{"id":"c13654b5.f4cca8","type":"modbus-response","z":"f7a13449.b0f388","name":"","registerShowMax":20,"x":430,"y":160,"wires":[]},{"id":"8ec318f2.5b2178","type":"function","z":"f7a13449.b0f388","name":"I1 < 16 Amp","func":"var current = msg.payload;\nvar corriente_minima1=flow.get('corriente_minima1');\n//node.status({text:\"hola\"});\n//var a=flow.get('corriente_minima1');\n//node.status({text:[\"corriente_minima1:  \",a]});\n\n\n    if (current < 16)\n        {\n            if(corriente_minima1==0)\n                {\n                flow.set('corriente_minima1', 1);\n                msg.payload=\"CORRENT FASE 1 BAIXA\"\n                node.status({text:[\"corriente_minima1:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('corriente_minima1', 0); \n        node.status({text:[\"corriente_minima1:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"x":721,"y":220,"wires":[["848fdd2d.33796"]]},{"id":"42dd9c1b.0f1164","type":"comment","z":"f7a13449.b0f388","name":"Corrent Fase1","info":"","x":130,"y":60,"wires":[]},{"id":"1c3b29a1.2f5b76","type":"function","z":"f7a13449.b0f388","name":"Decodificacio corrent fase2","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["b98502cd.2f3ea","72f896c3.60bd48","efa971e4.30883"]]},{"id":"16b30c0.19e9af4","type":"modbus-read","z":"f7a13449.b0f388","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"72","dataType":"InputRegister","adr":"104","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"95210230.7d0b6","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":380,"wires":[["bfa07d46.21356"],["1c3b29a1.2f5b76","605171bd.d474a"]]},{"id":"bfa07d46.21356","type":"modbus-response","z":"f7a13449.b0f388","name":"","registerShowMax":20,"x":430,"y":360,"wires":[]},{"id":"605171bd.d474a","type":"modbus-response","z":"f7a13449.b0f388","name":"","registerShowMax":20,"x":430,"y":400,"wires":[]},{"id":"b98502cd.2f3ea","type":"function","z":"f7a13449.b0f388","name":"I2 < 16 Amp","func":"var current = msg.payload;\nvar corriente_minima2=flow.get('corriente_minima2');\n//node.status({text:\"hola\"});\n//var a=flow.get('corriente_minima1');\n//node.status({text:[\"corriente_minima1:  \",a]});\n\n\n    if (current < 16)\n        {\n            if(corriente_minima2==0)\n                {\n                flow.set('corriente_minima2', 1);\n                msg.payload=\"CORRENT FASE 2 BAIXA\"\n                node.status({text:[\"corriente_minima2:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('corriente_minima2', 0); \n        node.status({text:[\"corriente_minima2:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"x":721,"y":460,"wires":[["311dc924.d117d6"]]},{"id":"f50b9059.ca144","type":"comment","z":"f7a13449.b0f388","name":"Corrent Fase2","info":"","x":130,"y":280,"wires":[]},{"id":"cb11530f.74be7","type":"function","z":"f7a13449.b0f388","name":"Decodificacio corrent fase3","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":700,"wires":[["ecdf50e9.4a082","7401432c.abc4cc","e402d0c4.438ac"]]},{"id":"1914c44f.031b7c","type":"modbus-read","z":"f7a13449.b0f388","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"72","dataType":"InputRegister","adr":"204","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"95210230.7d0b6","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":620,"wires":[["e4b6486d.82b608"],["cb11530f.74be7","7cf22703.24b968"]]},{"id":"e4b6486d.82b608","type":"modbus-response","z":"f7a13449.b0f388","name":"","registerShowMax":20,"x":430,"y":600,"wires":[]},{"id":"7cf22703.24b968","type":"modbus-response","z":"f7a13449.b0f388","name":"","registerShowMax":20,"x":430,"y":640,"wires":[]},{"id":"ecdf50e9.4a082","type":"function","z":"f7a13449.b0f388","name":"I3 < 16 Amp","func":"var current = msg.payload;\nvar corriente_minima3=flow.get('corriente_minima3');\n//node.status({text:\"hola\"});\n//var a=flow.get('corriente_minima1');\n//node.status({text:[\"corriente_minima1:  \",a]});\n\n\n    if (current < 16)\n        {\n            if(corriente_minima3==0)\n                {\n                flow.set('corriente_minima3', 1);\n                msg.payload=\"CORRENT FASE 3 BAIXA\"\n                node.status({text:[\"corriente_minima3:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('corriente_minima3', 0); \n        node.status({text:[\"corriente_minima3:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"x":721,"y":700,"wires":[["c0b99aea.96eea8"]]},{"id":"83670227.1114c","type":"comment","z":"f7a13449.b0f388","name":"Corrent Fase3","info":"","x":130,"y":520,"wires":[]},{"id":"90f647ff.0b4f48","type":"ui_gauge","z":"f7a13449.b0f388","name":"","group":"54d02f2f.60c49","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":280,"wires":[]},{"id":"72f896c3.60bd48","type":"ui_gauge","z":"f7a13449.b0f388","name":"","group":"54d02f2f.60c49","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":520,"wires":[]},{"id":"7401432c.abc4cc","type":"ui_gauge","z":"f7a13449.b0f388","name":"","group":"54d02f2f.60c49","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":760,"wires":[]},{"id":"69b824df.1a2c7c","type":"mqtt out","z":"f7a13449.b0f388","name":"","topic":"corrent_toroidal1","qos":"","retain":"","broker":"844fe88b.f8fb08","x":780,"y":340,"wires":[]},{"id":"efa971e4.30883","type":"mqtt out","z":"f7a13449.b0f388","name":"","topic":"corrent_toroidal2","qos":"","retain":"","broker":"844fe88b.f8fb08","x":780,"y":580,"wires":[]},{"id":"e402d0c4.438ac","type":"mqtt out","z":"f7a13449.b0f388","name":"","topic":"corrent_toroidal3","qos":"","retain":"","broker":"844fe88b.f8fb08","x":780,"y":800,"wires":[]},{"id":"f5ef53fc.93ff1","type":"debug","z":"f7a13449.b0f388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":220,"wires":[]},{"id":"4b782cb5.dfd654","type":"debug","z":"f7a13449.b0f388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":460,"wires":[]},{"id":"5b1471cb.ab8f4","type":"debug","z":"f7a13449.b0f388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":700,"wires":[]},{"id":"351e7a4b.af3fa6","type":"inject","z":"f7a13449.b0f388","name":"Test 15 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":440,"y":260,"wires":[["8ec318f2.5b2178","cd32ca64.eb3288"]]},{"id":"ee33c1a.2d4584","type":"inject","z":"f7a13449.b0f388","name":"Test 15 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":440,"y":500,"wires":[["b98502cd.2f3ea"]]},{"id":"11b890da.c6107f","type":"inject","z":"f7a13449.b0f388","name":"Test 15 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":420,"y":760,"wires":[["ecdf50e9.4a082"]]},{"id":"fa659bca.820ba8","type":"inject","z":"f7a13449.b0f388","name":"On Start UP","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":880,"wires":[["53e2a171.2bdcc"]]},{"id":"53e2a171.2bdcc","type":"function","z":"f7a13449.b0f388","name":"Declaracio variables","func":"flow.corriente_minima1 = flow.corriente_minima1 || 0;\nflow.corriente_minima2 = flow.corriente_minima2 || 0;\nflow.corriente_minima3 = flow.corriente_minima3 || 0;\nflow.corriente_maxima = flow.corriente_maxima || 0;\nflow.set('corriente_minima1', 0);\nflow.set('corriente_minima2', 0);\nflow.set('corriente_minima3', 0);\nflow.set('corriente_maxima',1);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":880,"wires":[[]]},{"id":"a9c18600.e40f48","type":"inject","z":"f7a13449.b0f388","name":"Test 17 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":440,"y":300,"wires":[["8ec318f2.5b2178","cd32ca64.eb3288"]]},{"id":"35408f9f.926b1","type":"inject","z":"f7a13449.b0f388","name":"Test 17 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":440,"y":540,"wires":[["b98502cd.2f3ea"]]},{"id":"27935f76.fc9de","type":"inject","z":"f7a13449.b0f388","name":"Test 17 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":420,"y":800,"wires":[["ecdf50e9.4a082"]]},{"id":"848fdd2d.33796","type":"mytimeout","z":"f7a13449.b0f388","name":"5 segons per activar fre","outtopic":"","outsafe":"","outwarning":"","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":950,"y":220,"wires":[["f5ef53fc.93ff1","3fd71d9d.a69642"],[]]},{"id":"311dc924.d117d6","type":"mytimeout","z":"f7a13449.b0f388","name":"5 segons per activar fre","outtopic":"","outsafe":"","outwarning":"","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":950,"y":460,"wires":[["4b782cb5.dfd654","3fd71d9d.a69642"],[]]},{"id":"c0b99aea.96eea8","type":"mytimeout","z":"f7a13449.b0f388","name":"5 segons per activar fre","outtopic":"","outsafe":"","outwarning":"","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":970,"y":700,"wires":[["5b1471cb.ab8f4","3fd71d9d.a69642"],[]]},{"id":"3fd71d9d.a69642","type":"function","z":"f7a13449.b0f388","name":"ACTIVAR FRENO","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":320,"wires":[[]]},{"id":"cd32ca64.eb3288","type":"function","z":"f7a13449.b0f388","name":"I1 >= 16 Amp","func":"var current = msg.payload;\nvar corriente_minima1=flow.get('corriente_minima1');\nvar corriente_minima2=flow.get('corriente_minima2');\nvar corriente_minima3=flow.get('corriente_minima3');\nvar corriente_maxima=flow.get('corriente_maxima');\n//node.status({text:\"hola\"});\n//var a=flow.get('corriente_minima1');\n//node.status({text:[\"corriente_minima1:  \",a]});\n\n\n    if (corriente_minima1===0 && corriente_minima2===0 && corriente_minima3===0)\n        {\n        if (corriente_maxima===0)\n            {\n            flow.set('corriente_maxima', 1);  \n            node.status({text:[\"corriente_maxima:  \",1]});\n            return msg;\n            }    \n        }\n    else\n        {\n        flow.set('corriente_maxima', 0);  \n        node.status({text:[\"corriente_maxima:  \",0]});   \n        return {\"payload\":\"cancel\"};\n               \n        }\n\n","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["3df41d9e.e57222"]]},{"id":"3df41d9e.e57222","type":"mytimeout","z":"f7a13449.b0f388","name":"20 segons per desactivar Fre","outtopic":"","outsafe":"","outwarning":"","outunsafe":"DESACTIVAR FRENO","warning":"5","timer":"20","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":960,"y":160,"wires":[["f2f6c804.6dd858","71fe223a.ab756c"],[]]},{"id":"f2f6c804.6dd858","type":"debug","z":"f7a13449.b0f388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":180,"wires":[]},{"id":"71fe223a.ab756c","type":"function","z":"f7a13449.b0f388","name":"DESACTIVAR FRENO","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":140,"wires":[[]]},{"id":"95210230.7d0b6","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttymxc4","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":72,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"54d02f2f.60c49","type":"ui_group","name":"BORNAY NORIA","tab":"50518f02.4bf","order":1,"disp":true,"width":"6","collapse":false},{"id":"844fe88b.f8fb08","type":"mqtt-broker","z":"f7a13449.b0f388","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50518f02.4bf","type":"ui_tab","name":"TOROIDALS ESCOMESA","icon":"dashboard","disabled":false,"hidden":false}]