FIRST DOWNLOAD MYTIMEOUT Node-red-bornay-eManager-12-12-2020 v0.txt
[{"id":"dfe600f7.c1ef7","type":"function","z":"5bc2f77c.2c4798","name":"Decodificacio corrent fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["6e0e7650.03ddf8","8c01b990.672bf8","b709f0f7.cc4cd"]]},{"id":"c57b9d7b.c8c99","type":"modbus-read","z":"5bc2f77c.2c4798","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"72","dataType":"InputRegister","adr":"4","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a75a8379.53088","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":117,"y":130,"wires":[["d22c5791.916268"],["dfe600f7.c1ef7","9b9af319.fec9e"]]},{"id":"d22c5791.916268","type":"modbus-response","z":"5bc2f77c.2c4798","name":"","registerShowMax":20,"x":410,"y":100,"wires":[]},{"id":"9b9af319.fec9e","type":"modbus-response","z":"5bc2f77c.2c4798","name":"","registerShowMax":20,"x":410,"y":140,"wires":[]},{"id":"6e0e7650.03ddf8","type":"function","z":"5bc2f77c.2c4798","name":"I1 < 16 Amp","func":"var current = msg.payload;\nvar corriente_minima1=flow.get('corriente_minima1');\n//node.status({text:\"hola\"});\n//var a=flow.get('corriente_minima1');\n//node.status({text:[\"corriente_minima1:  \",a]});\n\n\n    if (current < 16)\n        {\n            if(corriente_minima1==0)\n                {\n                flow.set('corriente_minima1', 1);\n                msg.payload=\"CORRENT FASE 1 BAIXA\"\n                node.status({text:[\"corriente_minima1:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('corriente_minima1', 0); \n        node.status({text:[\"corriente_minima1:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":701,"y":200,"wires":[["58d27dc.e5e2684"]]},{"id":"dbcdfa5d.b4f6d8","type":"comment","z":"5bc2f77c.2c4798","name":"Corrent Fase1","info":"","x":110,"y":20,"wires":[]},{"id":"ab8a8e42.171ef","type":"function","z":"5bc2f77c.2c4798","name":"Decodificacio corrent fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["e1e66ee0.6cdaa","bf5ecfac.411d6","73793470.a25eac"]]},{"id":"d153922e.996d2","type":"modbus-read","z":"5bc2f77c.2c4798","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"72","dataType":"InputRegister","adr":"104","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a75a8379.53088","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":117,"y":370,"wires":[["62c4aa30.d85154"],["ab8a8e42.171ef","f305ec81.3214a"]]},{"id":"62c4aa30.d85154","type":"modbus-response","z":"5bc2f77c.2c4798","name":"","registerShowMax":20,"x":410,"y":340,"wires":[]},{"id":"f305ec81.3214a","type":"modbus-response","z":"5bc2f77c.2c4798","name":"","registerShowMax":20,"x":410,"y":380,"wires":[]},{"id":"e1e66ee0.6cdaa","type":"function","z":"5bc2f77c.2c4798","name":"I2 < 16 Amp","func":"var current = msg.payload;\nvar corriente_minima2=flow.get('corriente_minima2');\n//node.status({text:\"hola\"});\n//var a=flow.get('corriente_minima1');\n//node.status({text:[\"corriente_minima1:  \",a]});\n\n\n    if (current < 16)\n        {\n            if(corriente_minima2==0)\n                {\n                flow.set('corriente_minima2', 1);\n                msg.payload=\"CORRENT FASE 2 BAIXA\"\n                node.status({text:[\"corriente_minima2:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('corriente_minima2', 0); \n        node.status({text:[\"corriente_minima2:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":701,"y":440,"wires":[["39871cd8.77d7d4"]]},{"id":"a1503e8c.f2b9b","type":"comment","z":"5bc2f77c.2c4798","name":"Corrent Fase2","info":"","x":110,"y":260,"wires":[]},{"id":"ddd1732e.c0cc2","type":"function","z":"5bc2f77c.2c4798","name":"Decodificacio corrent fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":680,"wires":[["9aea2609.ee9768","a25b673.eb8de98","f9e7e87b.34b5c8"]]},{"id":"6de22f5.b7c41d","type":"modbus-read","z":"5bc2f77c.2c4798","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"72","dataType":"InputRegister","adr":"204","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a75a8379.53088","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":117,"y":610,"wires":[["af13b0e8.8a05b"],["ddd1732e.c0cc2","313d1932.b082a6"]]},{"id":"af13b0e8.8a05b","type":"modbus-response","z":"5bc2f77c.2c4798","name":"","registerShowMax":20,"x":410,"y":580,"wires":[]},{"id":"313d1932.b082a6","type":"modbus-response","z":"5bc2f77c.2c4798","name":"","registerShowMax":20,"x":410,"y":620,"wires":[]},{"id":"9aea2609.ee9768","type":"function","z":"5bc2f77c.2c4798","name":"I1 < 16 Amp","func":"var current = msg.payload;\nvar corriente_minima3=flow.get('corriente_minima3');\n//node.status({text:\"hola\"});\n//var a=flow.get('corriente_minima1');\n//node.status({text:[\"corriente_minima1:  \",a]});\n\n\n    if (current < 16)\n        {\n            if(corriente_minima3==0)\n                {\n                flow.set('corriente_minima3', 1);\n                msg.payload=\"CORRENT FASE 3 BAIXA\"\n                node.status({text:[\"corriente_minima3:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('corriente_minima3', 0); \n        node.status({text:[\"corriente_minima3:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":701,"y":680,"wires":[["84c2f59d.b5d2b8"]]},{"id":"8893cc47.00b99","type":"comment","z":"5bc2f77c.2c4798","name":"Corrent Fase3","info":"","x":110,"y":500,"wires":[]},{"id":"8c01b990.672bf8","type":"ui_gauge","z":"5bc2f77c.2c4798","name":"","group":"1ecd3d5e.bfa4d3","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":260,"wires":[]},{"id":"bf5ecfac.411d6","type":"ui_gauge","z":"5bc2f77c.2c4798","name":"","group":"1ecd3d5e.bfa4d3","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":500,"wires":[]},{"id":"a25b673.eb8de98","type":"ui_gauge","z":"5bc2f77c.2c4798","name":"","group":"1ecd3d5e.bfa4d3","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":740,"wires":[]},{"id":"b709f0f7.cc4cd","type":"mqtt out","z":"5bc2f77c.2c4798","name":"","topic":"corrent_toroidal1","qos":"","retain":"","broker":"7ca4938.cf16e6c","x":760,"y":320,"wires":[]},{"id":"73793470.a25eac","type":"mqtt out","z":"5bc2f77c.2c4798","name":"","topic":"corrent_toroidal2","qos":"","retain":"","broker":"7ca4938.cf16e6c","x":760,"y":560,"wires":[]},{"id":"f9e7e87b.34b5c8","type":"mqtt out","z":"5bc2f77c.2c4798","name":"","topic":"corrent_toroidal3","qos":"","retain":"","broker":"7ca4938.cf16e6c","x":760,"y":780,"wires":[]},{"id":"c67d256a.381bf8","type":"debug","z":"5bc2f77c.2c4798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":200,"wires":[]},{"id":"6d8491f6.6c8c5","type":"debug","z":"5bc2f77c.2c4798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":440,"wires":[]},{"id":"c02a950.ea8db68","type":"debug","z":"5bc2f77c.2c4798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":680,"wires":[]},{"id":"ac09039b.720ec","type":"inject","z":"5bc2f77c.2c4798","name":"Test 15 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":420,"y":240,"wires":[["6e0e7650.03ddf8"]]},{"id":"812a84c4.3df748","type":"inject","z":"5bc2f77c.2c4798","name":"Test 15 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":420,"y":480,"wires":[["e1e66ee0.6cdaa"]]},{"id":"a7caecd4.91071","type":"inject","z":"5bc2f77c.2c4798","name":"Test 15 Ampers","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":400,"y":740,"wires":[["9aea2609.ee9768"]]},{"id":"d7bc2640.d348e8","type":"sma-webconnect","z":"5bc2f77c.2c4798","ip_address":"192.168.1.113","right":"istl","use_tls":true,"device_selection":"sb_tripower","x":380,"y":860,"wires":[[]]},{"id":"52ece3d5.eb90cc","type":"debug","z":"5bc2f77c.2c4798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":860,"wires":[]},{"id":"4ba65267.861aac","type":"inject","z":"5bc2f77c.2c4798","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":860,"wires":[[]]},{"id":"b82ff26a.9469b","type":"inject","z":"5bc2f77c.2c4798","name":"On Start UP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":940,"wires":[["c7eedcd5.f7e5e"]]},{"id":"c7eedcd5.f7e5e","type":"function","z":"5bc2f77c.2c4798","name":"Declaracio variables","func":"flow.corriente_minima1 = flow.corriente_minima1 || 0;\nflow.corriente_minima2 = flow.corriente_minima2 || 0;\nflow.corriente_minima3 = flow.corriente_minima3 || 0;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":940,"wires":[[]]},{"id":"97398214.14053","type":"inject","z":"5bc2f77c.2c4798","name":"Test 17 Ampers","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":420,"y":280,"wires":[["6e0e7650.03ddf8"]]},{"id":"d6ab3bb.3c7cdc8","type":"inject","z":"5bc2f77c.2c4798","name":"Test 17 Ampers","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":420,"y":520,"wires":[["e1e66ee0.6cdaa"]]},{"id":"2227d875.12f3d8","type":"inject","z":"5bc2f77c.2c4798","name":"Test 17 Ampers","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17","payloadType":"num","x":400,"y":780,"wires":[["9aea2609.ee9768"]]},{"id":"58d27dc.e5e2684","type":"mytimeout","z":"5bc2f77c.2c4798","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":890,"y":200,"wires":[["c67d256a.381bf8","502709b3.345ea8"],[]]},{"id":"39871cd8.77d7d4","type":"mytimeout","z":"5bc2f77c.2c4798","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":890,"y":440,"wires":[["6d8491f6.6c8c5","502709b3.345ea8"],[]]},{"id":"84c2f59d.b5d2b8","type":"mytimeout","z":"5bc2f77c.2c4798","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":910,"y":680,"wires":[["c02a950.ea8db68","502709b3.345ea8"],[]]},{"id":"502709b3.345ea8","type":"function","z":"5bc2f77c.2c4798","name":"ACTIVAR FRENO","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":320,"wires":[[]]},{"id":"a75a8379.53088","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttymxc4","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":72,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"1ecd3d5e.bfa4d3","type":"ui_group","name":"BORNAY NORIA","tab":"dac5c5ba.e16388","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ca4938.cf16e6c","type":"mqtt-broker","z":"5bc2f77c.2c4798","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dac5c5ba.e16388","type":"ui_tab","name":"TOROIDALS ESCOMESA","icon":"dashboard","disabled":false,"hidden":false}]