Node_red_flow_Modbus_RTU.txt
[{"id":"7719bd19.e18cd4","type":"function","z":"2638ac1a.5b5cd4","name":"Decodificacio corrent fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":518.5,"y":288,"wires":[["ae44df67.0e963"]]},{"id":"168c25a3.4fd18a","type":"modbus-read","z":"2638ac1a.5b5cd4","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"4","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6594e5d8.a257bc","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":255.5,"y":218,"wires":[["4e547068.04234"],["7719bd19.e18cd4","534ecc17.da1c84"]]},{"id":"4e547068.04234","type":"modbus-response","z":"2638ac1a.5b5cd4","name":"","registerShowMax":20,"x":517.5,"y":144,"wires":[]},{"id":"534ecc17.da1c84","type":"modbus-response","z":"2638ac1a.5b5cd4","name":"","registerShowMax":20,"x":522.5,"y":196,"wires":[]},{"id":"ae44df67.0e963","type":"function","z":"2638ac1a.5b5cd4","name":"I1 < 5 Amp","func":"var current = msg.payload;\nif (current < 0.5)\n{\nreturn msg;\n}","outputs":1,"noerr":0,"x":839.5,"y":288,"wires":[[]]},{"id":"6594e5d8.a257bc","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"72","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]