Node-red-bornay-power-1-1-2021 v0.txt
[{"id":"7d768748.a114d","type":"function","z":"1ffcc144.04aa27","name":"Decodificacio Potencia fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["1d891e65.2cbfd2","2a60e059.7288e8","fe9dfc7e.88e048","47f09351.0daa3c"]]},{"id":"8cbb0d62.3d5ee","type":"modbus-read","z":"1ffcc144.04aa27","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"4","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ec7ba0c0.f8c89","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":160,"wires":[["6b228716.cca458"],["7d768748.a114d","71e44c0d.43776c"]]},{"id":"6b228716.cca458","type":"modbus-response","z":"1ffcc144.04aa27","name":"","registerShowMax":20,"x":410,"y":120,"wires":[]},{"id":"71e44c0d.43776c","type":"modbus-response","z":"1ffcc144.04aa27","name":"","registerShowMax":20,"x":410,"y":160,"wires":[]},{"id":"1d891e65.2cbfd2","type":"function","z":"1ffcc144.04aa27","name":"P1 < 1 KW","func":"var potencia = msg.payload;\nvar potencia_minima1=flow.get('potencia_minima1');\n\n\n\n    if (potencia < 1)\n        {\n            if(potencia_minima1==0)\n                {\n                flow.set('potencia_minima1', 1);\n                msg.payload=\"POTENCIA FASE 1 BAIXA\"\n                node.status({text:[\"potencia_minima1:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('potencia_minima1', 0); \n        node.status({text:[\"potencia_minima1:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":701,"y":220,"wires":[["7291fcc0.d6a4cc"]]},{"id":"b4ec67e1.46e55","type":"comment","z":"1ffcc144.04aa27","name":"POTENCIA ACTIVA FASE 1","info":"","x":170,"y":100,"wires":[]},{"id":"efa7eb90.e5b0a8","type":"function","z":"1ffcc144.04aa27","name":"Decodificacio Potencia fase2","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":440,"wires":[["8e9f3d4f.ec2948","dd8ab68e.f2e45","de48f392.7f81c"]]},{"id":"d44f0973.45b678","type":"modbus-read","z":"1ffcc144.04aa27","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"72","dataType":"InputRegister","adr":"14","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ec7ba0c0.f8c89","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":380,"wires":[["33272fb9.455fd"],["efa7eb90.e5b0a8","1dcee609.6a2c12"]]},{"id":"33272fb9.455fd","type":"modbus-response","z":"1ffcc144.04aa27","name":"","registerShowMax":20,"x":410,"y":360,"wires":[]},{"id":"1dcee609.6a2c12","type":"modbus-response","z":"1ffcc144.04aa27","name":"","registerShowMax":20,"x":410,"y":400,"wires":[]},{"id":"8e9f3d4f.ec2948","type":"function","z":"1ffcc144.04aa27","name":"P2 < 1 KW","func":"var potencia = msg.payload;\nvar potencia_minima2=flow.get('potencia_minima2');\n\n\n    if (potencia < 1)\n        {\n            if(potencia_minima2==0)\n                {\n                flow.set('potencia_minima2', 1);\n                msg.payload=\"POTENCIA FASE 2 BAIXA\"\n                node.status({text:[\"potencia_minima2:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('potencia_minima2', 0); \n        node.status({text:[\"potencia_minima2:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":701,"y":460,"wires":[["d9d1ff7f.4aaac8"]]},{"id":"6208cff5.051888","type":"function","z":"1ffcc144.04aa27","name":"Decodificacio Potencia fase3","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":700,"wires":[["43e240c1.589868","b29253a7.115b28","a057bc07.e68ca"]]},{"id":"f08d06e3.c8a6f8","type":"modbus-read","z":"1ffcc144.04aa27","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"72","dataType":"InputRegister","adr":"24","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"95210230.7d0b6","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":620,"wires":[["a78ee561.0756e"],["6208cff5.051888","6842caa8.012ad4"]]},{"id":"a78ee561.0756e","type":"modbus-response","z":"1ffcc144.04aa27","name":"","registerShowMax":20,"x":410,"y":600,"wires":[]},{"id":"6842caa8.012ad4","type":"modbus-response","z":"1ffcc144.04aa27","name":"","registerShowMax":20,"x":410,"y":640,"wires":[]},{"id":"43e240c1.589868","type":"function","z":"1ffcc144.04aa27","name":"P3 < 1 KW","func":"var potencia = msg.payload;\nvar potencia_minima3=flow.get('potencia_minima3');\n\n\n\n    if (potencia < 1)\n        {\n            if(potencia_minima3==0)\n                {\n                flow.set('potencia_minima3', 1);\n                msg.payload=\"POTENCIA FASE 3 BAIXA\"\n                node.status({text:[\"potencia_minima3:  \",1]});\n                return msg;\n                }\n        }\n    else\n        {\n        flow.set('potencia_minima3', 0); \n        node.status({text:[\"potencia_minima3:  \",0]});\n        return {\"payload\":\"cancel\"};\n        }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":701,"y":700,"wires":[["6cd151a1.cfd888"]]},{"id":"2a60e059.7288e8","type":"ui_gauge","z":"1ffcc144.04aa27","name":"POTENCIA FASE 1","group":"54d02f2f.60c49","order":3,"width":0,"height":0,"gtype":"gage","title":"POTENCIA FASE 1","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":280,"wires":[]},{"id":"dd8ab68e.f2e45","type":"ui_gauge","z":"1ffcc144.04aa27","name":"POTENCIA FASE 2","group":"54d02f2f.60c49","order":6,"width":0,"height":0,"gtype":"gage","title":"POTENCIA FASE 2","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":520,"wires":[]},{"id":"b29253a7.115b28","type":"ui_gauge","z":"1ffcc144.04aa27","name":"POTENCIA FASE 3","group":"54d02f2f.60c49","order":9,"width":0,"height":0,"gtype":"gage","title":"POTENCIA FASE 3","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":760,"wires":[]},{"id":"fe9dfc7e.88e048","type":"mqtt out","z":"1ffcc144.04aa27","name":"","topic":"potencia_toroidal1","qos":"","retain":"","broker":"b9e6c4bf.54c168","x":760,"y":340,"wires":[]},{"id":"de48f392.7f81c","type":"mqtt out","z":"1ffcc144.04aa27","name":"","topic":"potencia_toroidal2","qos":"","retain":"","broker":"b9e6c4bf.54c168","x":760,"y":580,"wires":[]},{"id":"a057bc07.e68ca","type":"mqtt out","z":"1ffcc144.04aa27","name":"","topic":"potencia_toroidal3","qos":"","retain":"","broker":"b9e6c4bf.54c168","x":760,"y":800,"wires":[]},{"id":"7886c111.6330e","type":"debug","z":"1ffcc144.04aa27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":220,"wires":[]},{"id":"d4467475.81c83","type":"debug","z":"1ffcc144.04aa27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":460,"wires":[]},{"id":"c403e982.51c31","type":"debug","z":"1ffcc144.04aa27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":700,"wires":[]},{"id":"2e651b92.4932a4","type":"inject","z":"1ffcc144.04aa27","name":"Test 0.5 KW ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.5","payloadType":"num","x":410,"y":260,"wires":[["1d891e65.2cbfd2","47f09351.0daa3c","2a60e059.7288e8"]]},{"id":"ec81ac20.70167","type":"inject","z":"1ffcc144.04aa27","name":"Test 0.5 KW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.5","payloadType":"num","x":410,"y":500,"wires":[["8e9f3d4f.ec2948","dd8ab68e.f2e45"]]},{"id":"5bea9882.08f21","type":"inject","z":"1ffcc144.04aa27","name":"Test 0.5 KW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.5","payloadType":"num","x":390,"y":760,"wires":[["43e240c1.589868","b29253a7.115b28"]]},{"id":"95ecf573.fd1e6","type":"inject","z":"1ffcc144.04aa27","name":"On Start UP","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":880,"wires":[["bdc638f2.1519c8"]]},{"id":"bdc638f2.1519c8","type":"function","z":"1ffcc144.04aa27","name":"Declaracio variables","func":"flow.potencia_minima1 = flow.potencia_minima1 || 0;\nflow.potencia_minima2 = flow.potencia_minima2 || 0;\nflow.potencia_minima3 = flow.potencia_minima3 || 0;\nflow.potencia_maxima = flow.potencia_maxima || 0;\nflow.activar_freno = activar_freno || 0;\nflow.set('potencia_minima1', 0);\nflow.set('potencia_minima2', 0);\nflow.set('potencia_minima3', 0);\nflow.set('potencia_maxima',1);\nflow.set('activar_freno',0)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":880,"wires":[[]]},{"id":"5518f865.a80fc8","type":"inject","z":"1ffcc144.04aa27","name":"Test 3.5 kw","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3.5","payloadType":"num","x":410,"y":300,"wires":[["1d891e65.2cbfd2","47f09351.0daa3c","2a60e059.7288e8"]]},{"id":"1fa24ba7.28ee0c","type":"inject","z":"1ffcc144.04aa27","name":"Test 3.5 KW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3.5","payloadType":"num","x":410,"y":540,"wires":[["8e9f3d4f.ec2948","dd8ab68e.f2e45"]]},{"id":"7aa9b2.dcb9a65","type":"inject","z":"1ffcc144.04aa27","name":"Test 3.5 KW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3.5","payloadType":"num","x":390,"y":800,"wires":[["43e240c1.589868","b29253a7.115b28"]]},{"id":"7291fcc0.d6a4cc","type":"mytimeout","z":"1ffcc144.04aa27","name":"5 segons per activar fre","outtopic":"","outsafe":"","outwarning":"","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":930,"y":220,"wires":[["7886c111.6330e","127c8529.5a6143"],[]]},{"id":"d9d1ff7f.4aaac8","type":"mytimeout","z":"1ffcc144.04aa27","name":"5 segons per activar fre","outtopic":"","outsafe":"","outwarning":"","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":930,"y":460,"wires":[["d4467475.81c83","127c8529.5a6143"],[]]},{"id":"6cd151a1.cfd888","type":"mytimeout","z":"1ffcc144.04aa27","name":"5 segons per activar fre","outtopic":"","outsafe":"","outwarning":"","outunsafe":"ACTIVAR FRENO","warning":"1","timer":"5","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":950,"y":700,"wires":[["c403e982.51c31","127c8529.5a6143"],[]]},{"id":"127c8529.5a6143","type":"function","z":"1ffcc144.04aa27","name":"ACTIVAR FRENO","func":"flow.set('activar_freno', 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":560,"wires":[[]]},{"id":"47f09351.0daa3c","type":"function","z":"1ffcc144.04aa27","name":"P1&2&3 > 3 KW","func":"var potencia = msg.payload;\nvar potencia_minima1=flow.get('potencia_minima1');\nvar potencia_minima2=flow.get('potencia_minima2');\nvar potencia_minima3=flow.get('potencia_minima3');\nvar potencia_maxima=flow.get('potencia_maxima');\n\n\n\n    if (potencia_minima1===0 && potencia_minima2===0 && potencia_minima3===0)\n        {\n        if (potencia_maxima===0)\n            {\n            flow.set('potencia_maxima', 1);  \n            node.status({text:[\"potencia_maxima:  \",1]});\n            return msg;\n            }    \n        }\n    else\n        {\n        flow.set('potencia_maxima', 0);  \n        node.status({text:[\"potencia_maxima:  \",0]});   \n        return {\"payload\":\"cancel\"};\n               \n        }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":160,"wires":[["956a0a70.dd55a"]]},{"id":"956a0a70.dd55a","type":"mytimeout","z":"1ffcc144.04aa27","name":"20 segons per desactivar Fre","outtopic":"","outsafe":"","outwarning":"","outunsafe":"DESACTIVAR FRENO","warning":"5","timer":"20","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":940,"y":160,"wires":[["62273b15.23243c","818efb2c.c651f8"],[]]},{"id":"62273b15.23243c","type":"debug","z":"1ffcc144.04aa27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":180,"wires":[]},{"id":"818efb2c.c651f8","type":"function","z":"1ffcc144.04aa27","name":"DESACTIVAR FRENO","func":"flow.set('activar_freno', 0); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":140,"wires":[[]]},{"id":"b34185ac.603f","type":"ui_led","z":"1ffcc144.04aa27","group":"54d02f2f.60c49","order":2,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":970,"y":40,"wires":[]},{"id":"84841330.a9cee8","type":"function","z":"1ffcc144.04aa27","name":"potencia minima1","func":"var potencia_minima1=flow.get('potencia_minima1');\nmsg.payload=potencia_minima1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":60,"wires":[["b34185ac.603f","e7710f6d.cc318"]]},{"id":"c3b64059.59b558","type":"inject","z":"1ffcc144.04aa27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":590,"y":60,"wires":[["84841330.a9cee8"]]},{"id":"e7710f6d.cc318","type":"ui_text","z":"1ffcc144.04aa27","group":"54d02f2f.60c49","order":1,"width":4,"height":1,"name":"","label":"POTENCIA MINIMA 1","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":80,"wires":[]},{"id":"f04fa7cc.4f6ad","type":"ui_led","z":"1ffcc144.04aa27","group":"54d02f2f.60c49","order":5,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":1070,"y":380,"wires":[]},{"id":"1c7d8d27.a41e6b","type":"function","z":"1ffcc144.04aa27","name":"potencia minima2","func":"var potencia_minima2=flow.get('potencia_minima2');\nmsg.payload=potencia_minima2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":400,"wires":[["f04fa7cc.4f6ad","c0ca6c07.f41e68"]]},{"id":"4be4ff1e.3fb1a","type":"inject","z":"1ffcc144.04aa27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":690,"y":400,"wires":[["1c7d8d27.a41e6b"]]},{"id":"c0ca6c07.f41e68","type":"ui_text","z":"1ffcc144.04aa27","group":"54d02f2f.60c49","order":4,"width":4,"height":1,"name":"","label":"POTENCIA MINIMA 2","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":420,"wires":[]},{"id":"45770849.aad7a8","type":"ui_led","z":"1ffcc144.04aa27","group":"54d02f2f.60c49","order":8,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":1090,"y":620,"wires":[]},{"id":"876ef0ea.a1b36","type":"function","z":"1ffcc144.04aa27","name":"potencia minima3","func":"var potencia_minima3=flow.get('potencia_minima3');\nmsg.payload=potencia_minima3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":640,"wires":[["45770849.aad7a8","d0c89a4f.741cf"]]},{"id":"5df17733.def2a8","type":"inject","z":"1ffcc144.04aa27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":640,"wires":[["876ef0ea.a1b36"]]},{"id":"d0c89a4f.741cf","type":"ui_text","z":"1ffcc144.04aa27","group":"54d02f2f.60c49","order":7,"width":4,"height":1,"name":"","label":"POTENCIA MINIMA 3","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":660,"wires":[]},{"id":"a2c41cda.18b09","type":"ui_led","z":"1ffcc144.04aa27","group":"bf79164b.fe7098","order":2,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":1010,"y":860,"wires":[]},{"id":"29f8d3ab.bd9a1c","type":"function","z":"1ffcc144.04aa27","name":"potencia maxima","func":"var potencia_maxima=flow.get('potencia_maxima');\nmsg.payload=potencia_maxima;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":880,"wires":[["a2c41cda.18b09","73ccdf15.f9c98"]]},{"id":"1c4b4f8f.ffabc8","type":"inject","z":"1ffcc144.04aa27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":880,"wires":[["29f8d3ab.bd9a1c"]]},{"id":"73ccdf15.f9c98","type":"ui_text","z":"1ffcc144.04aa27","group":"bf79164b.fe7098","order":1,"width":4,"height":1,"name":"","label":"POTENCIA MAXIMA","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":900,"wires":[]},{"id":"c7ba6f67.423248","type":"ui_led","z":"1ffcc144.04aa27","group":"bf79164b.fe7098","order":2,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":1270,"y":260,"wires":[]},{"id":"4794d0e3.3b50b8","type":"function","z":"1ffcc144.04aa27","name":"ACTIVACION FRENO","func":"var activar_freno=flow.get('activar_freno');\nmsg.payload=activar_freno;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":280,"wires":[["c7ba6f67.423248","db92e7e8.523cc8"]]},{"id":"9859143e.a26ed8","type":"inject","z":"1ffcc144.04aa27","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":890,"y":280,"wires":[["4794d0e3.3b50b8"]]},{"id":"db92e7e8.523cc8","type":"ui_text","z":"1ffcc144.04aa27","group":"bf79164b.fe7098","order":1,"width":4,"height":1,"name":"","label":"ACTIVAR FRENO","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":300,"wires":[]},{"id":"625f85cd.5544ac","type":"modbus-write","z":"1ffcc144.04aa27","name":"","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"Coil","adr":"0","quantity":"1","server":"95210230.7d0b6","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1300,"y":340,"wires":[["57ca5ae0.621124"],[]]},{"id":"57ca5ae0.621124","type":"modbus-response","z":"1ffcc144.04aa27","name":"","registerShowMax":20,"x":1350,"y":400,"wires":[]},{"id":"f7d445b2.056b9","type":"comment","z":"1ffcc144.04aa27","name":"POTENCIA ACTIVA FASE 2","info":"","x":170,"y":320,"wires":[]},{"id":"d4201163.b07f98","type":"comment","z":"1ffcc144.04aa27","name":"POTENCIA ACTIVA FASE 3","info":"","x":170,"y":560,"wires":[]},{"id":"ec7ba0c0.f8c89","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttymxc4","serialType":"RTU","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"95210230.7d0b6","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttymxc4","serialType":"RTU","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":72,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"54d02f2f.60c49","type":"ui_group","name":"BORNAY NORIA","tab":"50518f02.4bf","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9e6c4bf.54c168","type":"mqtt-broker","z":"1ffcc144.04aa27","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"bf79164b.fe7098","type":"ui_group","name":"BORNAY NORIA 1","tab":"50518f02.4bf","order":2,"disp":true,"width":"6","collapse":false},{"id":"50518f02.4bf","type":"ui_tab","name":"TOROIDALS ESCOMESA","icon":"dashboard","disabled":false,"hidden":false}]