Node_red_flow_Modbus_RTU_v0.txt
[{"id":"7719bd19.e18cd4","type":"function","z":"2638ac1a.5b5cd4","name":"Decodificacio corrent fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":254,"wires":[["ae44df67.0e963"]]},{"id":"168c25a3.4fd18a","type":"modbus-read","z":"2638ac1a.5b5cd4","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"4","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6594e5d8.a257bc","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":255.5,"y":218,"wires":[["4e547068.04234"],["7719bd19.e18cd4","534ecc17.da1c84"]]},{"id":"4e547068.04234","type":"modbus-response","z":"2638ac1a.5b5cd4","name":"","registerShowMax":20,"x":517.5,"y":144,"wires":[]},{"id":"534ecc17.da1c84","type":"modbus-response","z":"2638ac1a.5b5cd4","name":"","registerShowMax":20,"x":522.5,"y":196,"wires":[]},{"id":"ae44df67.0e963","type":"function","z":"2638ac1a.5b5cd4","name":"I1 < 1 Amp","func":"var current = msg.payload;\nif (current < 0.5)\n{\n    flow.set('corriente_minima1', 1);\nreturn msg;\n}\nelse\n{\n   flow.set('corriente_minima1', 0); \n}\nvar estado_corriente_minima=flow.get('corriente_minima1')\nif (corriente_minima!=ultima_corriente_minima)\n{\n    //reset temporizador\n}\nflow.set('ultima_corriente_minima',corriente_minima);\nnode.status({text:estado_corriente_minima});","outputs":1,"noerr":0,"x":770.5,"y":255,"wires":[["3217e496.6c16ac"]]},{"id":"3217e496.6c16ac","type":"debug","z":"2638ac1a.5b5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1043.5,"y":256,"wires":[]},{"id":"48816e64.1962","type":"comment","z":"2638ac1a.5b5cd4","name":"Corrent Fase1","info":"","x":221.5,"y":154,"wires":[]},{"id":"8ffd8ea2.ae554","type":"function","z":"2638ac1a.5b5cd4","name":"Decodificacio corrent fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":524,"y":486,"wires":[["8c172853.a54848"]]},{"id":"33b3e1b1.71e08e","type":"modbus-read","z":"2638ac1a.5b5cd4","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"104","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6594e5d8.a257bc","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":253,"y":450,"wires":[["bdae6004.02f41"],["8ffd8ea2.ae554","1821b52d.60c5bb"]]},{"id":"bdae6004.02f41","type":"modbus-response","z":"2638ac1a.5b5cd4","name":"","registerShowMax":20,"x":515,"y":376,"wires":[]},{"id":"1821b52d.60c5bb","type":"modbus-response","z":"2638ac1a.5b5cd4","name":"","registerShowMax":20,"x":520,"y":428,"wires":[]},{"id":"8c172853.a54848","type":"function","z":"2638ac1a.5b5cd4","name":"I2 < 1 Amp","func":"var current = msg.payload;\nif (current < 1)\n{\n    flow.set('corriente_minima2', 1);\nreturn msg;\n}\nelse\n{\n   flow.set('corriente_minima2', 0); \n}","outputs":1,"noerr":0,"x":760,"y":485,"wires":[["5787ff88.0ac98"]]},{"id":"5787ff88.0ac98","type":"debug","z":"2638ac1a.5b5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1041,"y":488,"wires":[]},{"id":"a46c4100.5589a","type":"comment","z":"2638ac1a.5b5cd4","name":"Corrent Fase2","info":"","x":219,"y":386,"wires":[]},{"id":"3970b595.fd75aa","type":"function","z":"2638ac1a.5b5cd4","name":"Decodificacio corrent fase1","func":"var buf = Buffer.from(msg.payload.buffer);\nvar value = buf.readInt32BE();\nmsg.payload = value/1000;\nvar a=msg.payload;\nnode.status({text:a});\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":669,"wires":[["8597b940.506ce8"]]},{"id":"8b505e2d.0e7b2","type":"modbus-read","z":"2638ac1a.5b5cd4","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"204","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"6594e5d8.a257bc","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":266,"y":633,"wires":[["ab6cd72.2249228"],["3970b595.fd75aa","10ca7b23.488695"]]},{"id":"ab6cd72.2249228","type":"modbus-response","z":"2638ac1a.5b5cd4","name":"","registerShowMax":20,"x":528,"y":559,"wires":[]},{"id":"10ca7b23.488695","type":"modbus-response","z":"2638ac1a.5b5cd4","name":"","registerShowMax":20,"x":533,"y":611,"wires":[]},{"id":"8597b940.506ce8","type":"function","z":"2638ac1a.5b5cd4","name":"I3 < 1 Amp","func":"var current = msg.payload;\nif (current < 1)\n{\nflow.set('corriente_minima3', 1);\nreturn msg;\n}\nelse\n{\n   flow.set('corriente_minima3', 0); \n}","outputs":1,"noerr":0,"x":791,"y":670,"wires":[["661bb1e7.26573"]]},{"id":"661bb1e7.26573","type":"debug","z":"2638ac1a.5b5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1054,"y":671,"wires":[]},{"id":"33a0b5a1.25f88a","type":"comment","z":"2638ac1a.5b5cd4","name":"Corrent Fase3","info":"","x":232,"y":569,"wires":[]},{"id":"ea41a8eb.fc1578","type":"inject","z":"2638ac1a.5b5cd4","name":"On Start up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":196,"y":761,"wires":[["479aa9ea.c18b38"]]},{"id":"479aa9ea.c18b38","type":"function","z":"2638ac1a.5b5cd4","name":"Flow variable definition corriente_minimax3","func":"flow.corriente_minima1 = flow.corriente_minima1 || 0;\nflow.corriente_minima2 = flow.corriente_minima2 || 0;\nflow.corriente_minima3 = flow.corriente_minima3 || 0;\nflow.ultima_corriente_minima1 = flow.ultima_corriente_minima1 || 0;\nflow.ultima_corriente_minima2 = flow.ultima_corriente_minima2 || 0;\nflow.ultima_corriente_minima3 = flow.ultima_corriente_minima3 || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":576,"y":761,"wires":[[]]},{"id":"f51d643b.f4b7e8","type":"function","z":"2638ac1a.5b5cd4","name":"","func":"var estado_corriente_minima=flow.get('corriente_minima1');\nmsg.payload=estado_corriente_minima;\nreturn msg;","outputs":1,"noerr":0,"x":854.5,"y":323,"wires":[["905cbb55.577ed8"]]},{"id":"905cbb55.577ed8","type":"debug","z":"2638ac1a.5b5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1035.5,"y":325,"wires":[]},{"id":"30029dcc.08c6b2","type":"inject","z":"2638ac1a.5b5cd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":687.5,"y":322,"wires":[["f51d643b.f4b7e8"]]},{"id":"1e0853d1.a7099c","type":"countdown","z":"2638ac1a.5b5cd4","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"5","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":830.5,"y":72,"wires":[["82aaf5d6.dffcf8","f75cadb2.e425c"],["ac9b8e69.2864f"]]},{"id":"cf5e871a.993ea8","type":"inject","z":"2638ac1a.5b5cd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":603.5,"y":35,"wires":[["1e0853d1.a7099c"]]},{"id":"3e7dddcf.205882","type":"inject","z":"2638ac1a.5b5cd4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":607.5,"y":75,"wires":[["1e0853d1.a7099c"]]},{"id":"82aaf5d6.dffcf8","type":"debug","z":"2638ac1a.5b5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1098.5,"y":40,"wires":[]},{"id":"ac9b8e69.2864f","type":"debug","z":"2638ac1a.5b5cd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1027.5,"y":160,"wires":[]},{"id":"f75cadb2.e425c","type":"function","z":"2638ac1a.5b5cd4","name":"Inhibicion","func":"var a=msg.payload\nif (a==false)\n{\n    msg.payload=true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1081.5,"y":84,"wires":[["56c5f7b1.fb8968"]]},{"id":"56c5f7b1.fb8968","type":"debug","z":"2638ac1a.5b5cd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1241.5,"y":85,"wires":[]},{"id":"6594e5d8.a257bc","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"72","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]